.register__form {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  .label {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    padding: 0.5rem;
    margin-top: 1.3rem;

    &__icon {
      margin-left: 1rem;
      margin-right: 0.7rem;
      font-size: 1.2em;
    }
  }

  &__error {
   font-size: 1.3rem;
    padding-top: .3rem;
    color: red ;

  }

  #register-submit {
    margin-top: 2rem;
    background-color: #0073b1;
    color: #fff;
    padding: 1rem 2rem;
    text-transform: none;
  }
}